
.navbar-inverse{
	background: #2c3e50;
}

.navbar-inverse .navbar-brand
{
	color: #fff;
	font-family: 'Boogaloo', cursive;

	font-size: 30px;
	margin-right: 80px;
}

.navbar-inverse .navbar-brand:hover
{
	color: #90EE90;
}

.navbar-inverse .navbar-nav>li>a{
	color: #fff;
	font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar-inverse .navbar-nav>li>a:hover{
    color: #90EE90;
}

.navbar-inverse .navbar-nav>li.active>a{
	color: #90EE90;
	background-color: #2C3E50;
	
}



h1{
    color: #2c3e50;
    text-transform: uppercase;
    font-family: 'Boogaloo', cursive;
    letter-spacing: 3px

}
h4{
    font-size: 15px;
}

.parrafo-seccion{
    color: #2c3e50;
    margin-top: 20px;
    margin-bottom: 30px;
}
.fantasma {

    
    display: inline;

    /* utilizamos estas propiedades para centrar el botón */

    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    /* definimos los estilos del texto */
    font-family: 'Boogaloo', cursive;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    color: #2c3e50;
    text-decoration: none;
    text-transform: uppercase;

    /* agregamos un borde y lo separamos del texto */
    border: 0.15em solid #2c3e50;
    padding: 0.4em 0.6em;

    /* animamos el cambio de colores */
    -webkit-transition: color 300ms, background 500ms, border-color 700ms;
    transition: color 300ms, background 500ms, border-color 700ms;
}
.fantasma:hover {
    background: #2c3e50;
    border-color: #2c3e50;
    color: #fff;
}

.fantasmaFila{
    margin-top: 40px;
}

.intro
{
    font-size: 35px;
    font-family:  'Boogaloo', cursive;
    letter-spacing: 1px;
   
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 10px;
    padding: 0;
    padding-bottom: 7px;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #90EE90;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}

strong{
    color: #2c3e50;
}

.act img{
     margin-top: 10px;
     box-shadow: 3px 3px 6px #2c3e50;
  -webkit-box-shadow: 3px 3px 6px #2c3e50;
  -moz-box-shadow: 3px 3px 6px #2c3e50;
}

.pieFotoAct{
    font-size: 13px;
}

.carousel-control {
  padding-top:10%;
  width:5%;
}

.label-custom{
    color: #2c3e50;
    text-transform: uppercase;
    font-family: 'Boogaloo', cursive;
    letter-spacing: 1px;
    font-size: 20px;

}
 #submit{
    color: #fff;
    background: #2c3e50;
    margin-left: 200px;
 }

#caro{
    margin-left: 30px;

}

.novedades-item {
    right: 0;
    margin: 0 0 20px;
}

.novedades-item .novedades-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 300px;
}

.novedades-link img{
         box-shadow: 3px 3px 6px #2c3e50;
         -webkit-box-shadow: 3px 3px 6px #2c3e50;
         -moz-box-shadow: 3px 3px 6px #2c3e50;
         border-radius: 3%;
}
.novedades-item .novedades-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;

    background: rgba(0, 41, 69, 0.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

.novedades-item .novedades-link .caption:hover {
    opacity: 1;
}

.novedades-item .novedades-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

 .novedades-item .novedades-link .caption .caption-content i {
    margin-top: -12px;
}

 .novedades-item .novedades-link .caption .caption-content h3,
.novedades-item .novedades-link .caption .caption-content h4 {
    margin: 0;
}



@media(max-width:767px) {
          .novedades-item {
        margin: 0 0 10px;

    }

    .intro-section{
     background-image: none;
    }


}

.pie{
    background: #2c3e50;
}





